  <div class="wrapper">
  <!--The Carousel-->
  
<!--  <div id="myCarousel" class="carousel slide"> -->
    <!-- Carousel items -->
<!--    <div class="carousel-inner"> -->
<!--      <div class="active item"> -->
<!--        <img src="http://twitter.github.com/bootstrap/assets/img/examples/slide-01.jpg" alt=""> -->
        <!--<div class="carousel-caption">
          <h1>Example1</h1>
          <p class="lead">lol this is a testing area!!</p>
          <p class="lead">lol this is a testing area!!</p>
          <p class="lead">lol this is a testing area!!</p>
          <p class="lead">lol this is a testing area!!</p>
          <p class="lead">lol this is a testing area!!</p>
          <p class="lead">lol this is a testing area!!</p>
          <a class="btn btn-large btn-primary" href="#">Sign UP</a>
        </div>-->
<!--      </div> -->
<!--      <div class="item"> -->
<!--        <img src="http://twitter.github.com/bootstrap/assets/img/examples/slide-02.jpg" alt=""> -->
<!--      </div> -->
<!--      <div class="item"> -->
<!--        <img src="http://twitter.github.com/bootstrap/assets/img/examples/slide-03.jpg" alt=""> -->
<!--      </div> -->
<!--    </div> -->
    <!-- Carousel nav -->
<!--    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a> -->
<!--    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> -->
<!--  </div> -->
  <!--The Hero-unit -->
  <div class="hero-unit" style="background-color:#F2EFE6;">
  <!--Introductions-->
  <div class="container">
    <h2 class="brand">Read Kevin's story from here ...</h2>
    <br/>

    <p class="lead muted">
      Kevin Qin, A logical thinker who loves Computer Science. He got his computer science master degree in 2012. He currently resides in Washington,D.C.,working as a software developer.
      <br><br>
      Kevin enjoys working with numbers, his favoriate subject is mathematics.
      <br>
      He worked as a GIS developer 3 years ago, he played with spatial statistics, 3D-map, server-based geo-analysis at that time. He thoroughly enjoys programming(particularly Java, OOP and Ruby on Rails). <br>
      <br>Then he focused his career on Computer Science field. His work includes DBA,XML developer,Web Developer,Software Developer.
      <br><br>
      Besides programming, Kevin also loves table-tennis,swimming,and cool-things. 
    </p>
  </div>
  </div>

</div>