  <div class="wrapper">
  <!--The Carousel-->
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <img src="http://twitter.github.com/bootstrap/assets/img/examples/slide-01.jpg" alt="">
        <div class="carousel-caption">
          <h1>Example1</h1>
          <p class="lead">lol this is a testing area!!</p>
          <p class="lead">lol this is a testing area!!</p>
          <p class="lead">lol this is a testing area!!</p>
          <p class="lead">lol this is a testing area!!</p>
          <p class="lead">lol this is a testing area!!</p>
          <p class="lead">lol this is a testing area!!</p>
          <a class="btn btn-large btn-primary" href="#">Sign UP</a>
        </div>
      </div>
      <div class="item">
        <img src="http://twitter.github.com/bootstrap/assets/img/examples/slide-02.jpg" alt="">
      </div>
      <div class="item">
        <img src="http://twitter.github.com/bootstrap/assets/img/examples/slide-03.jpg" alt="">
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
  <!--The Hero-unit -->
  <!--div class="hero-unit">
    <h1>Hello and Welcome</h1>
    <h1><small>Here goes the description of the page!</small>
  </div-->
  <!--Introductions-->
  <div class="container">
    <h1 class="brand">Who's Kevin?</h1>
    <br>
    <p class="lead muted">
      Kevin Qin,a logical thinker who loves Computer Science. He got his computer science master degree in 2012. He currently resides in Washington,D.C.,working as a software developer.
      <br><br>
      Kevin enjoys working with numbers, his favoriate subject is mathematics.
      <br>
      He worked as a GIS developer 3 years ago, he played with spatial statistics, 3D-map, server-based geo-analysis at that time. He find that he thoroughly enjoys programming(particularly java and ruby). <br>
      <br>Then he focused his career on Computer Science field. His work inclueds DBA,XML developer,Web Developer,Software Developer.
      <br><br>
      Besides programming, Kevin also loves table-tennis,swimming,and cool-things. 
    </p>
  </div>
  <hr>
  <!--The information row-->
  <div class="container">
    <div class="row-fluid">
    <div class="span4">
      <h3 class="muted">Meet Kevin</h3>
      <img class="profile" src="<%= asset_path('profile.png')%>">
      <p style="text-align:left">Hi,guys, I'm kevin. I'd like to "Tech" my life. Also, I love "Geek" things. Are you looking for someone to discuss a cool idea? If you need a Tech-freelancer? Or you have an interesting position to offer? <br>Feel free to shoot me an email. J </p>
      <p><a href="#" class="btn">View more</a></p>
    </div>
    <div class="span5">
      <h3 class="muted">Follow me</h3>
      <div class="row">
        <div class="span3" style="text-align:right">
          <a href="http://twitter.com/kq7726">
            <img class="img-circle followme" src="<%= asset_path('twitterlogo.png') %>" title="twitter">
          </a>
        </div>
        <div class="span9" style="text-align:left"> Follow me on Twitter 
          <a href="http://twitter.com/kq7726">@kq7726</a> to find my updates...
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="span3" style="text-align:right">
          <a href="http://www.linkedin.com/in/kq7726">
            <img src="<%= asset_path('linkedinlogo.png') %>" title="linkedin">
          </a>

        </div>
        <div class="span9" style="text-align:left">More about my skills and interests...
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="span3" style="text-align:right">
          <a href="http://www.facebook.com/qshkevin">
            <img class="followme" src="<%= asset_path('facebooklogo.png') %>" title="facebook">
          </a>

        </div>
        <div class="span9" style="text-align:left">Where to read my story and join my events...
        </div>
      </div>
    </div>
    <div class="span3">
      <h3 class="muted">Contact me</h3>
      <address>
        <strong>Kevin Qin</strong><br>
        175 Stoneway Lane<br>
        Washington,D.C. , 20008<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
      <address>
        <strong>Email:</strong><br>
        <a href="mailto:#">touchdownkevin@gmail.com</a><br>
        <strong>Skype:</strong><br>
        <a>ib-qshkevin</a>
      </address>
    </div>
    </div>
  </div>
  <div class="container footer"></div>  
</div>