  <div class="wrapper">
  <!--The Carousel-->
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <img src="http://twitter.github.com/bootstrap/assets/img/examples/slide-01.jpg" alt="">
        <div class="carousel-caption">
          <h1>Example1</h1>
          <p class="lead">lol this is a testing area!!</p>
          <p class="lead">lol this is a testing area!!</p>
          <p class="lead">lol this is a testing area!!</p>
          <p class="lead">lol this is a testing area!!</p>
          <p class="lead">lol this is a testing area!!</p>
          <p class="lead">lol this is a testing area!!</p>
          <a class="btn btn-large btn-primary" href="#">Sign UP</a>
        </div>
      </div>
      <div class="item">
        <img src="http://twitter.github.com/bootstrap/assets/img/examples/slide-02.jpg" alt="">
      </div>
      <div class="item">
        <img src="http://twitter.github.com/bootstrap/assets/img/examples/slide-03.jpg" alt="">
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
  <!--The Hero-unit -->
  <!--div class="hero-unit">
    <h1>Hello and Welcome</h1>
    <h1><small>Here goes the description of the page!</small>
  </div-->
  <!--Introductions-->
  <div class="container">
    <h1>Who's Kevin?</h1>
    <p>Well, Kevin is a guy with</p>
  </div>
  <hr>
  <!--The information row-->
  <div class="container">
    <div class="row-fluid">
    <div class="span4" style="text-align:center">
      <h2>Heading</h2>
      <p style="text-align:left">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
      <p><a href="#" class="btn">View more</a></p>
    </div>
    <div class="span5">
      <h3 class="muted">Follow me</h3>
      <div class="row">
        <div class="span3" style="text-align:right">
          <img class="img-circle github" src="./git.png" title="github">
        </div>
        <div class="span9" style="text-align:left"> hello just follow up me on github. I followed some projects there
        </div>
      </div>
      <p style="text-align:left">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
      <p><a href="#" class="btn">View more</a></p>
    </div>
    <div class="span3">
      <h3 class="muted">Contact me</h3>
      <address>
        <strong>Kevin Qin</strong><br>
        175 Stoneway Lane<br>
        Washington,D.C. , 20008<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
      <address>
        <strong>Email:</strong><br>
        <a href="mailto:#">touchdownkevin@gmail.com</a><br>
        <strong>Skype:</strong><br>
        <a>ib-qshkevin</a>
      </address>
    </div>
    </div>
  </div>
  <div class="container footer"></div>  
</div>