<div class="page-header">
  <h1>Example page header <small>Subtext for header</small></h1>
</div>
<div class="well well-large">
    <% @posts.each do |post| %>
        <p>
          <h2 class="muted"><%= post.title %></h2>
          <%= post.date %>
          <br>
        </p>
        <%= post.body %>
        <hr>
        <%= link_to "Learn More", post_path(post),:class => 'muted small'%>
    <% end %>

</div>