<div class="container">
	<div class="well">
		<h2 class="muted" style="text-align:center;">Hello Hacker! </h2>
		<hr>
		<div class="offset2">
		<p>Hi,Buddy, The system diagnosed the you are a hacker !</p>
		<p>I already get your IP address. But don't worry...</p>
		<p> I won't do anything for this time...</p>
		<p>To protect your
		<%=link_to 'RP','#',rel:"tooltip",title: "In short, the character impact the probability of occurrence of a favorable event, this will also reflect the probability of a person of luck , good or bad, it is the character on behalf of luck."%>
		,Please don't do this again! </p><br/>
		<br/><br/><br/>
		<p><i>Cheers</i></p>
		<p><i>Kevin</i></p>
		</div>
	</div>
</div>